body {
	font-family: 'Montserrat', sans-serif;
}

/* Cabeçalho Padrão do SIte */
header {
	
	background:#bbbbbb;
	padding: 20px 0; 									/*Espaçamento Interno*/
}

.caixa {

	width: 940px;
	position: relative; 						/*Deixa posicionamento no interior relativo a caixa*/
	margin: 0 auto;								/*UP - DOWN || auto: centraliza automaticamente dada qualquer dimensão de tela*/
	text-align: center;
}

.links {

	position: absolute;  
	top: 110px;
	left:0;
}

nav .links li {
	margin: 0 15px 0 0; 						/*up right down left*/
	display: inline;							/*Blocos em Linhas*/
}

nav .links a {
	text-transform: uppercase;					
	color: black;
	font-weight: bold;							/*Negrito*/
	font-size: 22px;
	text-decoration: none;						/*Tirando sublinhado do link*/
}

nav .links a:hover{
	text-transform: uppercase;					
	color: white;
	font-weight: bold;							
	font-size: 22px;
	text-decoration: none;
} 


nav .redes-sociais li{
	margin: 0 0 0 15PX; 
	display: inline;							/*Blocos em Linhas*/
	width: 30px;
	
}
.redes-sociais {
	position: absolute;  
	top: 100px;
	right:0;
}

.logos-redes {
	width: 50px;
	border-radius: 10px;
	vertical-align: middle;

}

nav .logos-redes:hover {
	transform: scale(1.2);
}


/*css da página inicial*/

.banner {
	width:100%;
	margin: 0 auto;
}

main {
	
	
}

.principal{
	padding: 3em 0;
	align-self: center; 
	background: linear-gradient(#fefefe);

}
.conteudo-principal {
	margin: 0 auto;
	width: 940px;
}

.titulo-principal {
	clear: left;
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em 0;						 /*proporcional ao font-size*/
	color: rgba(0,0,0,0.6);
}


.titulo-principal:before{
	content: " ";
}

.titulo-principal:after{
	content: " ";
}

.principal p {
	text-indent: 30px;
	margin: 0 0 1em 0;
}

.principal strong{
	font-weight: bold;
}
.principal em {
	font-style: italic;
}

#missao{
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}



.maps {
	padding: 3em 0;
	background: linear-gradient(#fefefe, #888888);
}
.maps p {
	margin-bottom: 2em;
	text-align: center;
}

.maps-conteudo {
	margin: 0 auto;
	width: 940px;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;

}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5em;
}

.itens:before {
	content:"✯ ";
}

.itens:first-child{
	/*font-weight: bold;*/
}

/*first-child last-child nth-child(n)*/

.img-beneficios {
	width:60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 black;
	/*box-shadow: X Y BLUR INTENSIDADE-BORDA COLOR*/
}

.img-beneficios:hover{
	opacity: 0.5;
}

.video {
	width: 500px;
	margin: 2em auto;
}




footer {
	width: 100%;
	text-align: center;
	background: url("../Imagens/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: white;
	font-size:13px;
	margin-top: 20px;
	
}


/*Adaptando para telas de celulares*/
@media screen and (max-width: 480px){
	body {
		
	}

}
